<!-- page header
================================================== -->
<section class="page-header page-header--donation">

  <div class="gradient-overlay"></div>
  <div class="row page-header__content">
    <div class="column">
      <h1>Support us</h1>
    </div>
  </div>

</section> <!-- end page-header -->


<!-- page content
================================================== -->

<section class="page-content">

  <div class="row">
    <div class="column">


      <h3 class="heading-margin-top" >Your generosity makes a difference</h3>
      <p><i> <b>Bring the full tithe into the storehouse, that there may be food in my house. And thereby put me to the test, says the Lord of hosts, if I will not open the windows of heaven for you and pour down for you a blessing until there is no more need. Malachi 3:10</b></i></p>
      <p class="welcome-text">
        Seventh Day Adventist SDA, Herne is supported entirely from the donations of our visitors and members. We do not receive any funds from the German church tax as most churches in this country do.

        You can support   Seventh Day Adventist SDA, financially by bringing your tithes and giving your offerings in the following ways:
      </p>

      <mat-accordion multi>
        <!-- Panel 1: Worship Service -->
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>1. During the Worship Service</mat-panel-title>
            <mat-icon class="expand-icon">
              {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          </mat-expansion-panel-header>

          <p>Present tithes and offerings during worship.</p>
          <p>
            <strong>To receive a German tax statement:</strong><br><br>
            Place your money in an envelope with your name and address written clearly
            on the outside and put it in the collection.
          </p>
        </mat-expansion-panel>

      </mat-accordion>


      <p class="welcome-text">
        <b> If you have any questions, please contact our treasurer at <a href="mailto:kontakt@herne-international-sda.de"> {{emailAddress  }}</a></b>
      </p>

      <p>
        Please know that we will gratefully accept your donation as a gift from you and prayerfully consider how to build the work of the Lord.

      </p>



    </div>
  </div>

</section> <!-- end page-content -->







<!-- Social
================================================== -->
<!--<section class="s-social">-->

<!--  <div class="row social-content">-->
<!--    <div class="column">-->
<!--      <ul class="social-list">-->
<!--        <li class="social-list__item">-->
<!--          <a href="#0" title="">-->
<!--            <span class="social-list__icon social-list__icon&#45;&#45;facebook"></span>-->
<!--            <span class="social-list__text">Facebook</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="social-list__item">-->
<!--          <a href="#0" title="">-->
<!--            <span class="social-list__icon social-list__icon&#45;&#45;twitter"></span>-->
<!--            <span class="social-list__text">Twitter</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="social-list__item">-->
<!--          <a href="#0" title="">-->
<!--            <span class="social-list__icon social-list__icon&#45;&#45;instagram"></span>-->
<!--            <span class="social-list__text">Instagram</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="social-list__item">-->
<!--          <a href="#0" title="">-->
<!--            <span class="social-list__icon social-list__icon&#45;&#45;email"></span>-->
<!--            <span class="social-list__text">Email</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div> &lt;!&ndash; end social-content &ndash;&gt;-->

<!--</section> &lt;!&ndash; end s-social &ndash;&gt;-->
