<h2 class="heading-margin-top" >Midnight Prayer

</h2>
<p class="justify-text"><i> <b>"And at midnight Paul and Silas prayed, and sang praises unto God: and the prisoners heard them. And suddenly there was a great earthquake, so that the foundations of the prison were shaken: and immediately all the doors were opened, and every one’s bands were loosed." (Acts 16:25-26)</b></i></p>

<p class="welcome-text justify-text">
  On the last friday of every month we meet as a church to give glory to, and thank the Lord for His blessings and mercies that we received in the month. Join us and together we will pray, just like Paul and Silas prayed at midnight and found a breakthrough. As we enter the new month seeking the Lord, we believe, He will take control of our situations.
</p>








