<h2 class="heading-margin-top" >Child Dedication

</h2>
<p class="justify-text"><i> <b>"Children are an heritage of the LORD: and the fruit of the womb is His reward. (Psalm 127:3)"</b></i></p>

<p class="welcome-text justify-text">
  Child dedication is a treasured moment in which parents make a public declaration of faith to raise their child in the ways of the Lord as established in the Bible. While this does not secure salvation, it is symbolic of entrusting the child’s life to God’s will. Parents are encouraged to be a Godly example to their children by living a lifestyle that glorifies God, and earnestly praying for them daily.
</p>



<h1  >Frequently Asked Questions (FAQ)

</h1>

<mat-accordion multi>
  <!-- Panel 1: child dedication -->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>1. Why Should I get my child dedicated ?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>Dedicating your child is a mark of thanks to God for entrusting you with a precious life.
      In a manner, it is surrendering into the Hands of God, the child He has blessed you with.
      In this ceremony, you are making a commitment to bring up your child according to the ways of the Lord in line with the Bible.
    </p>

  </mat-expansion-panel>

  <!-- Panel 2: child dedication-->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>2. Is their a criteria for dedicating my child ?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <ul>
      <li>The age of the child should be between 0-3 yrs. </li>
      <li>Both the parents have to be baptised believers in order to dedicate the child.</li>
      <li>Both parents have to be physically present in the church on the day of dedication. </li>
    </ul>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>3. How do I get my child dedicated ?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p> Please contact the Church office +49 15776393379 for further details.


    </p>

  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>4. When does the child dedication ceremony happen ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      Child dedication ceremonies happen on the first Sunday of every alternative month.
      On this day, all parents who have decided to dedicate their children come together.
      To know about next Child Dedication Date, kindly contact the Church Office.


    </p>

  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>5. At What age should I dedicate my child ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      The preferable and ideal age for dedication would be anywhere from 0-3 years.
    </p>

  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>6. What should my child wear ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      There is no specific dress code. However, just as every other ceremony
      where white is considered appropriate, you may choose what your child is most comfortable in.

    </p>

  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>7. Can I invite guests ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      There is no specific dress code. However, just as every other ceremony
      where white is considered appropriate, you may choose what your child is most comfortable in.

    </p>

  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>8. Can I organize the refreshments and decor privately ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      The Church organizes the entire event including the venue, refreshments and decor
      for all dedications happening at the same time. However, you could arrange for a
      private celebration at any other venue of your choice.
    </p>

  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>9. How long is  the dedication ceremony ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      The Child dedication ceremony is generally completed in about an hour.


    </p>

  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>10. Is their a certification ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      Yes. A Signed Certificate is issued by the Church after the Parents and two witnesses
      sign the ‘Dedication Register’ on the day of the dedication.

    </p>

  </mat-expansion-panel>
</mat-accordion>







