<h1 class="heading-margin-top" >Ministries</h1>
<p class="welcome-text justify-text">
  Our ministries are the heart of our church, where faith comes alive through service, fellowship,
  and spiritual growth. We are committed to reaching every age, background, and stage of life with
  the love of Jesus Christ. By serving in our ministries, you can use your God-given gifts to impact
  lives, build community, and glorify God.
</p>

<h3>Areas of Ministry:</h3>

<ul class="justify-text">
  <li> <b>Worship & Music Ministry: </b>Lead hearts in praise and adoration to God</li>
  <li> <b>Children & Youth Ministry:</b> Nurture the next generation in faith and spiritual growth.</li>
  <li> <b>Outreach & Evangelism:</b> Share the gospel and meet the needs of our local community.</li>
  <li> <b>Prayer Ministry:</b> Intercede for others and strengthen our church in prayer.</li>
  <li> <b>Men’s & Women’s Ministry: </b> Encourage spiritual development and fellowship among men and women of faith.</li>

</ul>



<h3>Bible Inspiration:</h3>

<ul class="justify-text">
  <li> <i>“And he gave the apostles, the prophets, the evangelists, the shepherds and teachers, to equip the saints for the work of ministry, for building up the body of Christ.” — Ephesians 4:11-12</i></li>
  <li> <i> “For even the Son of Man came not to be served but to serve, and to give his life as a ransom for many.” — Mark 10:45</i></li>
</ul>




