<h2 class="heading-margin-top" >Who is Jesus

</h2>
<p class="justify-text"> <b>  Jesus is a son of god, the messiah who died and resurrected for the sin of the world. He is not just a good teacher or prophet. He is the Son of God and the Savior of the world.</b></p>
<ul>
  <li> The Bible calls Him God and Savior (Titus 2:13; 2 Peter 1:1), and Thomas called Him “My Lord and my God” (John 20:28).</li>
  <li> Old Testament prophecies describe Him as Mighty God, Everlasting Father, Prince of Peace (Isaiah 9:6).</li>
</ul>

<p class="justify-text"> <b>  Why God Sent Jesus / His Plan for Humanity:</b></p>
<ul>
  <li>Humans sinned and were separated from God (Romans 3:23; Psalm 53:1)..</li>
  <li> God sent Jesus to save people from sin through His death and resurrection (1 John 2:2; Romans 5:8).</li>
  <li> Jesus is the only way, the truth and the life(John 14:6).</li>
  <li>Belief in Jesus brings forgiveness, eternal life, and a restored relationship with God (John 3:16).</li>
</ul>












