
<h2 class="heading-margin-top" > Gottes Licht e.V Dortmund </h2>
<p class="welcome-text justify-text">
  A Christ-Centered Ministry, dedicated in spreading the love and message of Jesus Christ and a church that loves God and people.

</p>
<p class="welcome-text justify-text">
  Welcome to Miracle Center Church International Dortmund, a vibrant community of believers dedicated to experiencing and sharing the transforming power of God.
  We are a Spirit-filled church with a passion for worship, prayer, and the manifestation of God’s miracles in everyday life.
  At Miracle Center, we believe that the same God who healed the sick, set captives free, and performed wonders in the Bible is still working today. Through faith, prayer, and the power of the Holy Spirit, we witness lives restored, bodies healed, and hope renewed.

</p>
<br>

<p class="justify-text"><b>We have one morning service, every Sunday at 11:30 am. </b></p>
<p class="justify-text"> MCCI services provide a time for worship and hearing a message from God’s word.
  We provide a staffed nursery for childcare during both worship services. The 11:15 am service has a Children’s program to help families build a Christian foundation for their children.
  The 11:30 am service also have Children’s program.
  Other opportunities are also available for growth and fellowship during the week. Guests are always welcome!

</p>


<h2 >How to Find Us</h2>
<ul>
  <li><b>Gutenbergstraße 33, 44139 Dortmund</b></li>
  <li>Public Transport: Nearest tram stop Dortmund Stadthaus, Stadtgarten Hauptbahnhof (220m walk to church)</li>
  <li>Subway line U44,U41,U45,U47</li>
</ul>



