
<h2 class="heading-margin-top" style="color: #0f3d81" > SDA International Church , Herne</h2>
<p class="welcome-text justify-text">
  A Christ-Centered Ministry, dedicated in spreading the love and message of Jesus Christ and a church that loves God and people.

</p>
<p class="welcome-text justify-text">
  We are a vibrant community of believers committed to growing in faith, hope, and love through a personal relationship with Jesus. At SDA International Church, Herne, we value worship, prayer, Bible study, and living out God’s principles in our daily lives. We believe in a God who heals, restores, and transforms just as He did in the Bible, He continues to work in the lives of His children today.
  Here, you will experience a Spirit-filled community where lives are changed, hope is renewed, and the joy of Jesus is shared. Come and join us as we seek to honor God, serve others, and reflect Christ’s love in every aspect of life.

</p>
<br>

<p class="justify-text"><b>We have one morning service, every Saturday (Sabbath Day) at 10:00 am. </b></p>



<h2 >How to Find Us</h2>
<ul>
  <li><b> Bochumer Str. 229, 44625 Herne </b></li>
  <li>The nearest light rail stop is Herne Berninghausstraße on line U35 (approx. 450 m).
    The parking lot and entrance are located at the rear of the building. Simply follow the signs for HORNBACH Delivery.
    There is also wheelchair access.</li>
  <li>Subway line U35 (Bochum Hustadt)</li>

</ul>

<app-map></app-map>
<p style="text-align: center">
  <a href="https://www.google.com/maps/place/Lifeline+-+Adventgemeinde+Herne/@51.520047,7.2143117,17z/data=!3m1!4b1!4m6!3m5!1s0x47b8e18f313fb4bd:0x14d317ba8ec0daa5!8m2!3d51.520047!4d7.2143117!16s%2Fg%2F1tnqg22x?entry=ttu&g_ep=EgoyMDI1MTAwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="btn btn--footer">
    Get Directions <br>
  </a>
</p>




