<h1 class="heading-margin-top" >Join our Family</h1>
<p class="welcome-text justify-text">
  We believe that life in Christ is meant to be lived in community.
  Whether you are seeking prayer, spiritual guidance, or ways to get involved, we invite you to connect with us and grow deeper in your faith.
  Our church is a place where every heart is welcome, and every story matters.
</p>

<h3>Ways to Connect:</h3>

  <ul class="justify-text">
  <li> <b>Prayer & Support: </b>Share your prayer requests or receive spiritual encouragement.</li>
  <li> <b>Small Groups & Ministries:</b> Join our Bible studies, worship teams, or community outreach programs.</li>
  <li> <b>Events & Services:</b> Stay informed about upcoming events, revival services, and special gatherings.</li>
  <li> <b>Volunteer Opportunities:</b> Use your God-given gifts to serve others and make an eternal impact.</li>
</ul>



<h3>Bible Inspiration:</h3>

<ul class="justify-text">
  <li> <i> “For where two or three gather in my name, there am I with them.” — Matthew 18:20</i></li>
  <li> <i> “As each has received a gift, use it to serve one another, as good stewards of God’s varied grace.” — 1 Peter 4:10</i></li>
</ul>




