<section class="page-header page-header--about">
  <div class="gradient-overlay"></div>
  <div class="row page-header__content">
    <div class="column">
      <h1>About Us</h1>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="row">
    <div class="column large-4 medium-full">
      <div class="about-sidebar-card"> <div class="about-sidebar-header">About SDA Church </div>
        <ul class="about-menu">
          <li><a [routerLink]="['about-us']" [routerLinkActive]="['current']">About Us</a></li>
          <li><a [routerLink]="['our-pastor']" [routerLinkActive]="['current']">Our Pastor</a></li>
          <li><a [routerLink]="['faith-statement']" [routerLinkActive]="['current']">Faith Statement</a></li>
          <li><a [routerLink]="['purpose-and-mission']" [routerLinkActive]="['current']">Purpose & Mission</a></li>
          <li><a [routerLink]="['history']" [routerLinkActive]="['current']">Church History</a></li>
          <li><a [routerLink]="['church-staff']" [routerLinkActive]="['current']">Church Staff</a></li>
          <li><a [routerLink]="['gallery']" [routerLinkActive]="['current']">Gallery</a></li>
          <li><a [routerLink]="['sabbath-snapshots']" [routerLinkActive]="['current']">Sabbath Snapshots</a></li>
          <li><a  *ngIf="isLoggedIn"
                  [routerLink]="['add-photos']" [routerLinkActive]="['current']">Add Sabbath Photos </a></li>

        </ul>
      </div>
    </div>

    <div class="column large-9 medium-full ">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>


