<h2 class="heading-margin-top" >Baptism Service

</h2>
<p class="justify-text"><i> <b> “Therefore we were buried with Him through baptism into death, that just as Christ was raised from the dead by the glory of the Father, even so we also should walk in newness of life.” – Romans 6:4</b></i></p>

<p class="justify-text">

  At Miracle Center Church International e.V, Baptism is not just a ceremony, but a public declaration of faith in Jesus Christ. It is a step of obedience and a powerful testimony that you have been born again, leaving behind the old life and embracing the new life in Christ.

  We believe that through baptism, every believer identifies with the death, burial, and resurrection of Jesus. It symbolizes:</p>
<ul>
  <li> <b>Repentance – </b> turning away from sin.
  </li>
  <li> <b>Cleansing – </b> being washed by the blood of Jesus.
  </li>
  <li> <b>New Life – </b> rising to walk in the freedom and power of the Holy Spirit.
  </li>
  <li> <b> Belonging – </b> becoming part of the family of God, the body of Christ.
  </li>
</ul>

<p class="justify-text">At MCCI, baptism is conducted by full immersion in water, just as it was practiced in the early church, in obedience to the Word of God.</p>

<p  class="justify-text">  When you decide to become a member, you reaffirm your commitment not just to God but also to the church and in this way are accountable to the commitment, fellowship and belonging.
  We the members work together as one family, to support one another; through constant encouragement, motivation, guidance, development and most importantly, through sharing the love of Jesus.

</p>




<h1  > Frequently Asked Questions (FAQ)

</h1>

<mat-accordion multi>
  <!-- Panel 1: membership panel 1 -->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>1. Who can be baptized ?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>
<p>Anyone who has repented of their sins and confessed Jesus Christ as their Lord and Savior (Acts 2:38).</p>
  </mat-expansion-panel>

  <!-- Panel 2: baptism 2 panel-->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>2. What does baptism mean for me?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      It means you have publicly declared your faith, are cleansed from your past life of sin, and are ready to live a new life in Christ.
    </p>
  </mat-expansion-panel>

  <!-- Panel 3: baptism 3 panel-->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>3. Do I need to be baptized to become a member?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      Yes. Baptism by immersion is one of the foundational steps of faith and a requirement for membership at MCCI.
    </p>
  </mat-expansion-panel>

  <!-- Panel 4: baptism 4 panel-->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>4. How do I prepare for baptism ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      Attend baptism classes or counseling sessions at MCCI to understand its biblical foundation and significance.
    </p>
  </mat-expansion-panel>
  <!-- Panel 5: baptism 5 panel-->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> 5. Can children be baptized ? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      We believe baptism is for those who have personally chosen to follow Jesus. Children may be dedicated to the Lord, and when they are old enough to make their own decision of faith, they can be baptized.
    </p>
  </mat-expansion-panel>







</mat-accordion>




