<h1 class="heading-margin-top" >Prayer Meetings</h1>
<p class="welcome-text justify-text">
  Prayer is the heartbeat of our church, connecting us directly to God and His power.
  Our prayer meetings are a place to lift up praises, intercede for others, and seek the guidance
  of the Holy Spirit. Whether you are rejoicing, in need, or seeking spiritual breakthrough,
  you are welcome to join us as we come together in faith and unity.
</p>

<h3>What to Expect:</h3>

<ul class="justify-text">
  <li> <b>Corporate Prayer: </b>Unite with the congregation to pray for the church, community, and world.</li>
  <li> <b>Intercessory Prayer:</b> Stand in the gap for those in need of healing, guidance, and deliverance.</li>
  <li> <b>Spiritual Renewal:</b> Experience the presence and power of God through focused prayer and worship.</li>
  <li> <b>Special Prayer Nights:</b> Participate in revival-focused or topic-specific prayer sessions.</li>

</ul>



<h3>Bible Inspiration:</h3>

<ul class="justify-text">
  <li> <i>“Do not be anxious about anything, but in everything by prayer and supplication with thanksgiving let your requests be made known to God.” — Philippians 4:6</i></li>
  <li> <i> “The prayer of a righteous person has great power as it is working.” — James 5:16</i></li>
</ul>




