<!-- whatsapp-login.component.html -->
<div class="zoom-container">
  <div class="qr-section">
    <img src="/zoom-logo.png" width="150px" height="150px"  class="qr-code" />

  </div>
  <div class="info-section">
    <img src="/zoom.jpg" width="50px" height="50px"  />
    <h2>Zoom</h2>
    <p> Open the link <a (click)="zoomClick()"   target="_blank"><b> <u style="color: dodgerblue">click here</u></b> </a> to join directly.</p>

    <p>      Join our Zoom  Group Chat every week
    </p>




  </div>

</div>

