<h2 class="heading-margin-top">Implementation of Our Mission</h2>

<section id="identity">

  <p>Seventh-day Adventists affirm the Bible as God’s infallible revelation of His will, accepting its authority in the life of the Church and of each believer, and its foundational role for faith and doctrine. Seventh-day Adventists believe that the Holy Spirit transforms lives and equips people with abilities to advance God’s kingdom in this world.</p>
  <p>Called by God, guided by the Bible, and empowered by the Holy Spirit, Seventh-day Adventists, wherever we live in the world, devote ourselves to:</p>

  <ul>
    <li><strong>Christ-Like Living</strong> — Illustrating the lordship of Jesus in our lives by moral, ethical, and social behaviors that are consistent with the teachings and example of Jesus.</li>
    <li><strong>Christ-Like Healing</strong> — Affirming the biblical principles of the well-being of the whole person, we make healthful living and the healing of the sick a priority, and through our ministry to the poor and oppressed, cooperate with the Creator in His compassionate work of restoration.</li>
    <li><strong>Christ-Like Serving</strong> — Following the example of Jesus, we commit ourselves to humble service, ministering to individuals and populations most affected by poverty, tragedy, hopelessness, and disease.</li>
    <li><strong>Christ-Like Proclaiming</strong> — Realizing that all are called to active witness, we share through personal conversation, preaching, publishing, and the arts, the Bible’s message about God and the hope and salvation offered through the life, ministry, atoning death, resurrection, and high priestly ministry of Jesus Christ.</li>
    <li><strong>Christ-Like Teaching</strong> — Acknowledging that development of mind and character is essential to God’s redemptive plan, we promote the growth of a mature understanding of and relationship to God, His Word, and the created universe.</li>
    <li><strong>Christ-Like Training</strong> — Affirming the vital importance of continued spiritual growth and development among all who accept Jesus as Lord and Savior, we nurture and instruct each other in righteous living, provide training for effective witness, and encourage responsive obedience to God’s will.</li>
  </ul>

</section>
