<div class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="card login-card shadow-lg">
    <div class="card-body">
      <form>
        <h4 class="text-primary mb-4">Login</h4>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <br>
        <button type="button" class="btn btn-info mb-3" (click)="login()">Login</button>

        <div class="d-flex justify-content-between mb-3">
<!--          <a  style="font-size: small"  href="/register">Need Account? <span class="text-danger">Register</span></a>-->
<!--          <a  style="font-size: small"  href="/forgot-password" class="text-dark">Forgot Password?</a>-->
        </div>

<!--        <div class="text-center">-->
<!--          <a (click)="signInWithGoogle()" style="cursor: pointer;">-->
<!--            <div class="card google-card shadow-sm d-flex align-items-center justify-content-center">-->
<!--              <img src="/icons8-google-48.png" alt="Google" width="24" height="24">-->
<!--              <span class="ms-2">Sign In with Google</span>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
      </form>
    </div>
  </div>
</div>
