<!-- page header
================================================== -->
<section class="page-header page-header--contact">
  <div class="gradient-overlay"></div>
  <div class="row page-header__content">
    <div class="column">
      <h1>Contact Us</h1>
    </div>
  </div>

</section> <!-- end page-header -->


<!-- page content
================================================== -->
<section class="page-content">

  <div class="row">
    <div class="column">

      <p class="lead drop-cap justify-text">
        If you have any questions, comments, ideas, or would just like to get in touch with us, you can easily reach us by using the form on the right.We have lots of activities for anyone looking to get involved in a Christian Church.
        To get involved, let us know who you are and what your areas of interest are.
        You are also very welcome to come and join our Saturday Worship Services at 10:00 am , and find out more details about us there. Please, note that Kid’s Program are only offered at the 10:00 am service.
        Our address is:
      </p>

      <p>



      </p>

      <div class="row">

        <div class="column large-12 tab-full">

          <div class="contact-details">
            <h3>Contact Info.</h3>
            <br>

            <p><strong>Email Id:</strong> {{email}}</p>
            <p><strong>Mobile Phone:</strong> {{phone1}}</p>
            <p><strong>Address: </strong>{{address}}</p>
          </div>



        </div>
      </div>

    </div>
  </div>

</section> <!-- end page-content -->


<app-footer/>
