<!-- page header
================================================== -->
<section class="page-header page-header--contact">
  <div class="gradient-overlay"></div>
  <div class="row page-header__content">
    <div class="column">
      <h1>Contact Us</h1>
    </div>
  </div>

</section> <!-- end page-header -->


<!-- page content
================================================== -->
<section class="page-content">

  <div class="row">
    <div class="column">

      <p class="lead drop-cap justify-text">
        If you have any questions, comments, ideas, or would just like to get in touch with us, you can easily reach us by using the form on the right.We have lots of activities for anyone looking to get involved in a Christian Church.
        To get involved, let us know who you are and what your areas of interest are.
        You are also very welcome to come and join our Sunday Worship Services at 11:30 am , and find out more details about us there. Please, note that Kid’s Program are only offered at the 11:15 am service.
        Our address is:
      </p>

      <p>



      </p>

      <div class="row">
        <div class="column large-6 tab-full">
          <h3>Main Office.</h3>
          <p>
            Gutenbergstraße 33,
            <br>
            44139 Dortmund<br>
            Germany
          </p>
        </div>

        <div class="column large-6 tab-full">
          <h3>Contact Info.</h3>

            <p>

              <strong>Email Id: </strong> {{email}} <br>
              <strong> Mobile Phone: </strong>  {{phone1}} <br>
              <strong>Office Phone:</strong>   {{phone2}}       <br>




            </p>






        </div>
      </div>

    </div>
  </div>

</section> <!-- end page-content -->
