<h2 class="heading-margin-top" >NEXT STEPS

</h2>
<p class="justify-text"> <b> <i>  The moment you made Jesus your personal Lord and Saviour, you took your first step towards the life God intended for you. “For you were once in darkness, but now you are light in the Lord. Live as children of light.” (Ephesians 5:8). As your new family in christ, it is our desire to help you fulfill your God-given destiny.</i></b></p>
<p><b>Follow these next steps to enjoy everyday life in the Lord: </b></p>

<ol>
  <li>Obey the commandments of Jesus as given in <strong>Matthew 28:18-20</strong></li>
  <li>Spend quality time with the word of the God (The Holy Bible), every day</li>
  <li>
    Join the following groups to fellowship with like-minded believers:
    <ul>
      <li>Campus Prayer Groups</li>
      <li>Home Prayer Groups</li>
      <li>Bible Studies</li>
      <li>Upcoming Events</li>
    </ul>
  </li>
  <li>Join us every Sunday to worship God at <strong>11:30 AM</strong></li>
</ol>












