
<!--<div class="preloader">-->
<!--  <div class="preloader__text-container">-->
<!--    <div class="preloader__text-cosmic">Love God</div>-->
<!--    <div class="preloader__text-reflections">Love People</div>-->
<!--  </div>-->
<!--  <div class="preloader__content">-->
<!--    <div class="preloader__overlay"></div>-->
<!--    <img *ngFor="let img of preloaderImages" [src]="img" alt="Slide Image" class="preloader__image">-->
<!--  </div>-->
<!--</div>-->


<!--<div class="preloader">-->
<!--  <div class="preloader__content">-->
<!--    <div class="preloader__overlay"></div>-->
<!--    <img *ngFor="let img of preloaderImages" [src]="img" alt="Slide Image" class="preloader__image">-->

<!--    &lt;!&ndash; Moved text inside .preloader__content so it's centered over image &ndash;&gt;-->
<!--    <div class="preloader__text-container">-->
<!--      <div class="preloader__text-cosmic">Love God</div>-->
<!--      <div class="preloader__text-reflections">Love People</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="" >
  <app-header></app-header>
  <app-cookies-consent></app-cookies-consent>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

