<p class="justify-text"><i> <b>"Enter his gates with thanksgiving and his courts with praise; give thanks to him and praise his name." - Psalm 100:4</b></i></p>

<p class="justify-text">
  Our church events are designed to bring the body of Christ together in worship, fellowship, and spiritual growth.
  From revival services and conferences to community outreach and special celebrations, each event is an opportunity
  to experience God’s presence, be encouraged, and strengthen your faith.


</p>


<h2 >Types of Events:</h2>
<ul>
  <li><b>Revival & Healing Services: </b> Encounter God’s power and receive spiritual renewal</li>
  <li><b>Conferences & Workshops: </b> Grow in knowledge, ministry skills, and spiritual maturity.</li>
  <li><b>Community Outreach:</b> Serve others and share the love of Jesus in practical ways.</li>
  <li><b>Celebrations & Special Services:</b>Join us for church anniversaries, holiday services, and family events.</li>
</ul>

<h3>Bible Inspiration:</h3>

<ul class="justify-text">
  <li> <i>“Let all things be done for building up.” — 1 Corinthians 14:26</i></li>
  <li> <i> “And let us consider how to stir up one another to love and good works, not neglecting to meet together.” — Hebrews 10:24-25</i></li>
  <li><i>“Serve the Lord with gladness! Come into his presence with singing!” — Psalm 100:2-3</i></li>
</ul>





