
<!-- page header
================================================== -->
<section class="page-header page-header--connect">

  <div class="gradient-overlay"></div>
  <div class="row page-header__content">
    <div class="column">
      <h1>Connect Groups</h1>
    </div>
  </div>

</section> <!-- end page-header -->


<!-- page content
================================================== -->
<section class="page-content">

  <div class="row">
    <div class="column">

      <p class="lead drop-cap">
        Vel quia voluptates sit expedita nesciunt. Iusto et eos quod consectetur
        nostrum aliquid est laudantium. Corrupti voluptas sed possimus odio cupiditate.
        Ut id nemo doloremque iusto voluptates placeat esse ut. Voluptatem saepe aut vel ut. Perferendis
        hic voluptates quibusdam animi quis est itaque. Atque delectus praesentium
        voluptas voluptas. Odio voluptatem facilis magni magnam quas aut quasi.
        Eos nesciunt ducimus debitis inventore sed.
      </p>

      <p>
        Molestias nostrum aliquid repudiandae et. Adipisci omnis dolores sint
        dignissimos quae deserunt recusandae mollitia ab. Sequi rem odio molestiae
        hic repellendus odit molestiae enim aut. Itaque omnis tenetur libero rerum
        vel impedit ut saepe. Aut deleniti ex omnis libero. Deleniti minus voluptatem
        reiciendis molestiae omnis voluptate voluptatem. In odio voluptatem error
        asperiores aut dolore. Deserunt ullam deleniti est aperiam.
      </p>

      <br>

      <h2>Join a Connect Group.</h2>

      <p>
        Kindly fill-up the form below to help us better understand your profile and help you connect to a connect group that suits you.
      </p>

      <form name="connectForm" id="connectForm" class="connectForm" method="post" action="" autocomplete="off">
        <fieldset>

          <div class="form-field">
            <input name="cName" id="cName" class="h-full-width h-remove-bottom" placeholder="Your Name" value="" type="text">
          </div>

          <div class="form-field">
            <input name="cEmail" id="cEmail" class="h-full-width h-remove-bottom" placeholder="Your Email" value="" type="text">
          </div>

          <div class="form-field">
            <input name="cPhone" id="cPhone" class="h-full-width h-remove-bottom" placeholder="Mobile Number" value="" type="tel">
          </div>

          <div class="form-field">
            <input name="cFacebook" id="cFacebook" class="h-full-width h-remove-bottom" placeholder="Facebook URL" value="" type="text">
          </div>

          <div class="form-field">
            <input name="cAge" id="cAge" class="h-full-width h-remove-bottom" placeholder="Your Age" value="" type="text">
          </div>

          <div class="form-field">
            <input name="cAvailability" id="cAvailability" class="h-full-width h-remove-bottom" placeholder="Availability (Day & Time)" value="" type="text">
          </div>

          <!-- <br>
          <div class="form-field">
              <label for="cGender">Gender :</label>
              <div class="ss-custom-select">
                  <select class="h-full-width h-remove-bottom" name="cGender" id="cGender">
                      <option value="Option 2">Male</option>
                      <option value="Option 3">Female</option>
                  </select>
              </div>
          </div> -->

          <div class="comments form-field">
            <textarea name="cComments" id="cComments" class="h-full-width h-remove-bottom" placeholder="Comments & Questions"></textarea>
          </div>

          <br>

          <input name="submit" id="submit" class="btn btn--primary btn--large h-full-width" value="Get Connected" type="submit">

        </fieldset>
      </form> <!-- end connectForm -->

    </div>
  </div>

</section> <!-- end page-content -->


<!-- Social
================================================== -->
<section class="s-social">

  <div class="row social-content">
    <div class="column">
      <ul class="social-list">
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--facebook"></span>
            <span class="social-list__text">Facebook</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--twitter"></span>
            <span class="social-list__text">Twitter</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--instagram"></span>
            <span class="social-list__text">Instagram</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--email"></span>
            <span class="social-list__text">Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- end social-content -->

</section> <!-- end s-social -->
