<div class="profile-container">
  <div class="profile-left">
    <h3 style="color: #0f3d81">  Andreas Weber</h3>
    <h2 style="color: black">Church Senior Pastor</h2>
    <p>
      Pastor Andreas Weber is a devoted man of God and the Senior Pastor of the Seventh-day Adventist Church in Herne.
      His life reflects true Christian service and unwavering dedication to the Lord’s work. With a humble heart and a deep love for Jesus,
      Pastor Andreas tirelessly leads and supports the church in every way through ministry, outreach, and nurturing the
      spiritual growth of others. His steadfast commitment, kindness, and selfless spirit inspire everyone around him,
      making him a true example of what it means to live for God and serve His people wholeheartedly.


    </p>

  </div>

  <div class="profile-right">
    <img src="/pastor_andy.jpg" alt="Joe Robles standing on a busy street" />
  </div>
</div>
