<div class="profile-container">
  <div class="profile-left">
    <h3 style="color: #0f3d81">  Andreas Weber</h3>
    <h2 style="color: black">Church Senior Pastor</h2>
    <p>
       Pastor Andreas Weber - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam architecto, commodi culpa cupiditate explicabo facilis, harum illo incidunt inventore nam perferendis perspiciatis quasi repellendus repudiandae veritatis voluptates! Iure!
    </p>

  </div>

  <div class="profile-right">
    <img src="/pastor_andy.jpg" alt="Joe Robles standing on a busy street" />
  </div>
</div>
