.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fb8b24;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;

  /* CENTER TEXT */
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-btn:hover {
  transform: scale(1.1);
  background-color: #000;
}
