<h2 class="heading-margin-top welcome-text" >On the first Sunday of every month, we as a church partake of the Holy Communion at 11:30 AM.

</h2>
<p class="justify-text"><i> <b>"And he took bread, gave thanks and broke it, and gave it to them, saying, ‘This is my body given for you; do this in remembrance of me.’ In the same way, after the supper he took the cup, saying, ‘This cup is the new covenant in my blood, which is poured out for you." Luke 22:19-20</b></i></p>

<p class="justify-text">
  We take the Holy Communion to commemorate the death of Jesus as He taught us to do: “do this in remembrance of me”. As we partake of the bread and wine,
  we remember the sacrifice Jesus made for us on the cross. Communion signifies, seals and applies all the benefits of the new covenant to us, believers.
  In this ordinance, Christ confirms His promises to us, His people; and we solemnly consecrate ourselves to Him and to His entire service.

  The Holy Communion reminds us of what Jesus did in the past; it is a symbol of our present relationship with Him, and also a promise of what He will do for us in the future.

  The ordinance is given in <b>Matthew 26:26-29, Mark 14:22-25, Luke 22:19-20 and 1 Corinthians 11:24-26</b> .
</p>


<h1  >FAQ

</h1>


<mat-accordion multi>
  <!-- Panel 1: membership panel 1 -->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>1. What is Holy Communion ?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

 <p> Holy Communion, also known as the Lord’s Supper, is a command from Jesus to remember His death and resurrection until He comes again.</p>
    <p><i>“Do this in remembrance of me.” — 1 Corinthians 11:24</i></p>

  </mat-expansion-panel>

  <!-- Panel 2: membership 2 panel-->
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>2. Who can participate? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      We welcome all born-again believers who have accepted Jesus Christ as Lord and Savior to share in Communion.
    </p>
    <p><i>“Examine yourselves, and only then eat of the bread and drink of the cup.” — 1 Corinthians 11:28</i></p>
  </mat-expansion-panel>



  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>3. Why is Communion important?</mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      Communion reminds us of Christ’s body broken for us and His blood shed for the forgiveness of sins. It is also a declaration of our unity as the body of Christ.
    </p>
    <p><i>“Because there is one bread, we who are many are one body, for we all partake of the one bread.” — 1 Corinthians 10:17</i></p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>4. How often do we take Communion? </mat-panel-title>
      <mat-icon class="expand-icon">
        {{ panelOpenState() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-expansion-panel-header>

    <p>
      Our church observes Communion regularly during worship services, as we are instructed to proclaim the Lord’s death until He returns.
    </p>
    <p><i>“For as often as you eat this bread and drink the cup, you proclaim the Lord’s death until he comes.” — 1 Corinthians 11:26</i></p>
  </mat-expansion-panel>







</mat-accordion>





