.heading-margin-top{
  margin-top: -5px;
}

.welcome-text{
  text-align: justify;
}
.justify-text{
  text-align: justify;

}

mat-expansion-panel {
  margin-bottom: 10px;
}

mat-panel-title {
  font-weight: bold;
  font-size: 18px; /* Adjust size as needed */

}
mat-expansion-panel p,
mat-expansion-panel li {
  font-size: 16px;       /* Readable font size */
  line-height: 1.6;      /* More space between lines */
  margin-bottom: 12px;   /* Space after each paragraph */
  color: #333;           /* Softer black for better readability */
  text-align: justify;    /* makes both left & right edges aligned */

}

/* Add space between list items */
mat-expansion-panel ul li {
  margin-bottom: 8px; /* Adjust spacing as needed */
}


.expand-icon {
  font-size: 28px;   // bigger than default (20px)
  margin-left: auto; // pushes icon to the right edge
  color: rgba(0, 0, 0, 0.54); // matches Material default tone
}
