<h1 class="heading-margin-top" >Upcoming Events</h1>
<div class="event-card">
  <div class="event-left">
    <div class="event-info">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
    </div>

    <div class="event-actions">
      <button *ngIf="isLoggedIn" (click)="onUpdate()">Update</button>
      <button *ngIf="isLoggedIn" (click)="onDelete()">Delete</button>
    </div>
  </div>

  <div class="event-flyer">
    <img [src]="event.flyer" alt="{{ event.title }} Flyer" />
  </div>
</div>
