<h1 class="heading-margin-top" >Service Teams
</h1>
<p class="welcome-text justify-text">
  Our Service Teams are the hands and feet of Jesus,
  serving the church and community with love, dedication,
  and excellence. By joining a Service Team, you can use your gifts to glorify God,
  support the ministry, and make a real impact in the lives of others.
  Every act of service, big or small, is a powerful expression of faith in action.
</p>

<h3>Opportunities to Serve:</h3>

<ul class="justify-text">
  <li> <b>Hospitality Team: </b>Welcome and assist members and visitors, making everyone feel at home.</li>
  <li> <b>Media & Technology Team:</b>Support worship, livestreams, and church communications..</li>
  <li> <b>Ushers & Security Team:</b>Ensure safety, order, and a smooth worship experience.</li>
  <li> <b>Creative & Arts Team:</b> Use your talents in music, drama, or visual arts to inspire worship</li>
  <li> <b>Outreach & Community Service Team:</b> Serve the local community through compassion projects and evangelism.</li>

</ul>



<h3>Bible Inspiration:</h3>

<ul class="justify-text">
  <li> <i>“And let us not grow weary of doing good, for in due season we will reap, if we do not give up.” — Galatians 6:9</i></li>
  <li> <i> “As each has received a gift, use it to serve one another, as good stewards of God’s varied grace.” — 1 Peter 4:10</i></li>
</ul>




