<h1 class="heading-margin-top" >Bible Studies</h1>
<p class="welcome-text justify-text">
  At our church, we believe the Word of God is alive and powerful, guiding every step of our lives.
  Our Bible study programs are designed to deepen your understanding of Scripture, strengthen your faith,
  and help you apply God’s Word in your daily life. Whether you are a new believer or a seasoned follower of Christ,
  there is a place for you to grow, ask questions, and be inspired by the Holy Spirit.
</p>

<h3>Opportunities to Study:</h3>

<ul class="justify-text">
  <li> <b>Adult Bible Classes: </b>Explore Scripture with practical teachings for everyday life.</li>
  <li> <b>Youth & Children’s Studies:</b> Engage young hearts with God’s Word in a fun and meaningful way.</li>
  <li> <b>Small Groups:</b> Experience fellowship, prayer, and discussion in intimate groups.</li>
  <li> <b>Special Studies & Workshops:</b> Participate in topical studies, revival teachings, and spiritual growth workshops.</li>
</ul>



<h3>Bible Inspiration:</h3>

<ul class="justify-text">
  <li> <i>“Your word is a lamp to my feet and a light to my path.” — Psalm 119:105</i></li>
  <li> <i> “All Scripture is breathed out by God and profitable for teaching, for reproof, for correction, and for training in righteousness.” — 2 Timothy 3:16</i></li>
</ul>




