

<div class="section full-height over-hide px-4 px-sm-0">


  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
        <div class="section mx-auto text-center slider-height-padding">
          <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
          <label for="slide-1"></label>
          <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
          <label for="slider-2"></label>
          <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
          <label for="slider-3"></label>
          <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
          <label for="slider-4"></label>
          <input class="checkbox fifth" type="radio" name="slider" id="slider-5"/>
          <label for="slider-5"></label>
          <input class="checkbox six" type="radio" name="slider" id="slider-6"/>
          <label for="slider-6"></label>
          <input class="checkbox seven " type="radio" name="slider" id="slider-7"/>
          <label for="slider-7"></label>
          <input class="checkbox eight" type="radio" name="slider" id="slider-8"/>
          <label for="slider-8"></label>
          <input class="checkbox nine" type="radio" name="slider" id="slider-9"/>
          <label for="slider-9"></label>
          <input class="checkbox ten" type="radio" name="slider" id="slider-10"/>
          <label for="slider-10"></label>
          <input class="checkbox eleven" type="radio" name="slider" id="slider-11"/>
          <label for="slider-11"></label>
          <input class="checkbox twelve" type="radio" name="slider" id="slider-12"/>
          <label for="slider-12"></label>
          <input class="checkbox thirteen" type="radio" name="slider" id="slider-13"/>
          <label for="slider-13"></label>
          <input class="checkbox fourteen" type="radio" name="slider" id="slider-14"/>
          <label for="slider-14"></label>
          <input class="checkbox fifteen" type="radio" name="slider" id="slider-15"/>
          <label for="slider-15"></label>

          <input class="checkbox sixteen" type="radio" name="slider" id="slider-16"/>
          <label for="slider-16"></label>
          <input class="checkbox seventeen" type="radio" name="slider" id="slider-17"/>
          <label for="slider-17"></label>

          <input class="checkbox eighteen" type="radio" name="slider" id="slider-18"/>
          <label for="slider-18"></label>
          <input class="checkbox nineteen" type="radio" name="slider" id="slider-19"/>
          <label for="slider-19"></label>

          <input class="checkbox twenty" type="radio" name="slider" id="slider-20"/>
          <label for="slider-20"></label>
          <ul>
            <li>
              <span>LOVE</span>
            </li>
            <li>
              <span>JOY</span>
            </li>
            <li>
              <span>PEACE</span>
            </li>
            <li>
              <span>PATIENCE</span>
            </li>
            <li>
              <span>KINDNESS</span>
            </li>
            <li>
              <span>GOODNESS</span>
            </li>
            <li>
              <span>FAITHFULNESS</span>
            </li>
            <li>
              <span>GENTLENESS</span>
            </li>
            <li>
              <span>SELF-CONTROL</span>
            </li>
            <li>
              <span>GALATIANS 5:22–23.</span>
            </li>
            <li>
              <span>GALATIANS 5:22–23.</span>
            </li>

            <li><span>SLIDE 12</span></li>
            <li><span>SLIDE 13</span></li>
            <li><span>SLIDE 14</span></li>

            <li><span>SLIDE 15</span></li>
            <li><span>SLIDE 16</span></li>

            <li><span>SLIDE 17</span></li>
            <li><span>SLIDE 18</span></li>

            <li><span>SLIDE 19</span></li>
            <li><span>SLIDE 20</span></li>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
