
<a href="https://front.codes/" class="logo hover-target" target="_blank">
  <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
</a>

<div class="section full-height over-hide px-4 px-sm-0">


  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
        <div class="section mx-auto text-center slider-height-padding">
          <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
          <label for="slide-1"></label>
          <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
          <label for="slider-2"></label>
          <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
          <label for="slider-3"></label>
          <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
          <label for="slider-4"></label>
          <input class="checkbox fifth" type="radio" name="slider" id="slider-5"/>
          <label for="slider-5"></label>
          <input class="checkbox six" type="radio" name="slider" id="slider-6"/>
          <label for="slider-6"></label>
          <input class="checkbox seven " type="radio" name="slider" id="slider-7"/>
          <label for="slider-7"></label>
          <input class="checkbox eight" type="radio" name="slider" id="slider-8"/>
          <label for="slider-8"></label>
          <input class="checkbox nine" type="radio" name="slider" id="slider-9"/>
          <label for="slider-9"></label>
          <input class="checkbox ten" type="radio" name="slider" id="slider-10"/>
          <label for="slider-10"></label>

          <ul>
            <li>
              <span>LOVE</span>
            </li>
            <li>
              <span>JOY</span>
            </li>
            <li>
              <span>PEACE</span>
            </li>
            <li>
              <span>PATIENCE</span>
            </li>
            <li>
              <span>KINDNESS</span>
            </li>
            <li>
              <span>GOODNESS</span>
            </li>
            <li>
              <span>FAITHFULNESS</span>
            </li>
            <li>
              <span>GENTLENESS</span>
            </li>
            <li>
              <span>SELF-CONTROL</span>
            </li>
            <li>
              <span>GALATIANS 5:22–23.</span>
            </li>
            <li>
              <span>GALATIANS 5:22–23.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
