<h2 class="heading-margin-top" >This is how you receive Lord Jesus Christ into your LIFE:

</h2>
<p class="justify-text"> <b> <i>
  "If you confess with your mouth, Jesus is Lord, and believe in your heart that God raised him from the dead, you will be saved.” – Romans 10:9
  <br>
  <br>
  “Prayer - Father, I believe that your son, Jesus Christ, died for my sins, was resurrected from the dead, is alive, and hears my prayer. I confess that I am a sinner and i need your forgiveness. I now invite you to come into life and take over everything. I want to trust you only and follow you all the days of my life as my Lord and Savior.In Jesus’ name I pray, Amen.” </i></b></p>
<ol>
  <li>Admit your need for a Saviour.</li>
  <li> Be willing to turn from your sins.</li>
  <li> Believe that Jesus Died for you on the Cross and Rose alive from the dead.</li>
  <li> Invite Lord Jesus to come in and take control of your life.</li>
  <li>All you have to do is sincerely cry out to God with the following short prayer.</li>
</ol>

<h2 class="heading-margin-top" >Congratulations !!! Welcome to the Family of Christ</h2>

<p class="justify-text"> If this is your first time visiting Miracle Center Church International (MCCI), we would love to get to know you, welcome you, and pray for you. We also want to connect with you and hear about your experiences.

  Please share your details with us, and we will be in touch.

  Thank you!

</p>













