body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden ; /* Prevent horizontal scrolling */
  padding: 0;
  margin: 0;
  padding-top: 80px; /* matches header default height */

}

html {
  width: 100%;
  overflow-x: hidden; /* Ensure no horizontal overflow on the html element */
}

