<h1 class="heading-margin-top">Our History</h1>

<p class="justify-text">
  The members of the core team of the Herne International Adventist Church got to know each other in a bible discussion group that took place from 2001 to 2009 in the Essen Adventist Church.
</p>

<p class="justify-text">
  Out of a longing for fellowship with like-minded people from diverse cultures, one member who had come to the Adventist faith through the Bible discussion group in 2005 started, together with the core team, an international church service in November 2016, with the support of the Lifeline Adventist Church.
  What began as a one-off project soon became a regular monthly event.
</p>

<p class="justify-text">
  During the coronavirus pandemic in 2020, our live services transitioned to online worship via Zoom.
  At this time, we also held weekly midweek Prayer and Vespers meetings online, keeping our community spiritually connected.
</p>

<p class="justify-text">
  By 2022, live services resumed once a month, complemented by an online worship service, so that services were offered twice monthly.
  Weekly midweek Prayer and Vespers meetings via Zoom continued.
  Our community also enjoys annual events such as the summer barbecue and church weekends.
  Herne International Adventist Church participates actively in the annual Hoffest of Hope Center Herne.
</p>

<p class="justify-text">
  Since 2024, we have organized a joint spiritual retreat congress once a year with the International Adventist Community in Langen.
  And since 2025, we have been holding weekly services, alternating between live services and online worship, allowing our members and visitors from countries including Ethiopia, Jamaica, Brazil, Germany, Eritrea, Ghana, Kenya, Liberia, Philippines, India, and Zambia to stay connected.
</p>

<p class="justify-text">
  As a community, we cherish fellowship. We love gathering together for photos, sharing meals, and singing praises to God.
  Every culture, every story, and every heart is welcome here.
</p>
